@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Mozilla+Text:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Comic Neue", sans-serif;
}

body {
    background-color: pink;
}

.may {
    background-color: rgb(187, 96, 139);
}

.button a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff !important;
    background-color: #0b0f2c;
    border: none;
    border-radius: 80px;
    box-shadow: 0 4px 16px 0 rgba(39, 174, 96, 0.10);
    transition: background 0.3s, transform 0.2s;
    padding: 12px 40px;
    font-weight: 600;
}

.button a:hover,
.button a:focus {
    transform: scale(1.05);
    background-color: #1c2257;
    color: #fff;
}

.greetings {
    font-size: 7rem;
    font-weight: 900;
}

/* Código responsivo para el texto "TE AMO MAYTE" */
.greetings span {
    font-size: 6vw;
    /* Tamaño de fuente responsivo */
    white-space: nowrap;
    border-right: 4px solid;
    width: 12ch;
    animation: typing 2s steps(12), blink .7s infinite step-end alternate;
    overflow: hidden;
    padding: 10px 0;
    color: rgb(175, 71, 71);
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    .greetings span {
        font-size: 10vw;
        /* Aumenta el tamaño en móviles para mejor lectura */
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.may_2 {
    background: radial-gradient(#4c0c0c, #000) !important;
}


.heart {
  background-color: #ff69b4; /* Color del corazón */
  height: 100px;
  width: 100px;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px #ff69b4;
}

.heart::before,
.heart::after {
  content: "";
  background-color: #ff69b4;
  height: 100px;
  width: 100px;
  position: absolute;
  border-radius: 50%;
}

.heart::before {
  top: -50px;
  left: 0;
}

.heart::after {
  left: 50px;
  top: 0;
}
